@import url('https://fonts.googleapis.com/css2?display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  background-color: hsl(196, 20%, 80%);
}
a{
  text-decoration:none; 
  color: inherit;
}

.clickable{
  cursor: pointer;
}
.hover:hover{
  color: black;
  font-weight: 600;
}
.active{
  color: hsl(0, 0%, 20%);
  font-weight: 600;
}
.active-2{
  color: hsl(0, 0%, 20%);
  font-weight: 600;
}
.title{
  font-weight: 600;
}

.title.blog{
  height: 4.5rem;
}
.title.project{
  height: 2rem;
}
.banner{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: hsl(196, 20%, 68%);
}
.banner-heading{
  border-radius: 1rem;
  background-color: hsl(196, 20%, 75%);
}
.banner-item, .name-container{
  background-color: inherit;
}
.hello-world{
  margin-left: 1rem;
  color: hsl(0, 0%, 20%);
}
.name-container{
  display: flex;
  margin: 0 1rem 0 7rem;
  padding: inherit;
}
.name{
  color: hsl(0, 0%, 20%);
  font-weight: 600;
  margin-left: 8px;
}

.social{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.social-icon{
  width: 2rem;
  margin-top: 1rem;
  
}
.link-icon{
  height: 0.7rem;
  margin-bottom: 0.2rem;
}
.nav-bar{
  width: 8rem;
  height: 10rem;
  background-color: hsl(196, 20%, 75%);
  margin-left: 1rem;
  box-shadow: 3px 3px #87a0a8;

}
.nav-item{
  display: flex;
  width: fit-content;
  background-color: inherit;
  padding-left: 0.5rem;
  
}

.main-container{
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}
.selected-section{
  width: 70%;
}
.selected-content{
  display: flex;
  flex-wrap: wrap;
}

.card{
  padding-right: 2rem;
  width: 20rem;
  background-color: #87a0a8;

}

.content-nav{
  display: flex;
}
.content-button{
  margin-right: 1rem;
}

.side-bar{
  display: flex;
  flex-direction: column;
  /* background-color: inherit; */
}

