@import url('https://fonts.googleapis.com/css2?display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  background-color: hsl(196, 20%, 80%);
}
a, .social-icon{
  background-color: hsl(196, 20%, 68%);
  height: 2rem;
  text-decoration:none; 
}
a { color:inherit } /* Globally */

/* Each state */

.clickable{
  cursor: pointer;
}
.hover:hover{
  font-weight: 600;
  
}
.banner{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: hsl(196, 20%, 68%);
}
.banner-heading{
  border-radius: 1rem;
}
.hello-world{
  margin-left: 1rem;
  color: hsl(0, 0%, 20%);
}
.name-container{
  display: flex;
  margin: 0 1rem 0 7rem;
  padding: inherit;
}
.name{
  color: hsl(0, 0%, 20%);
  font-weight: 600;
  margin-left: 8px;
}
.banner-social{
  background-color: hsl(196, 20%, 68%);
}
.social-icon{
  width: 2rem;
  margin: 0.5rem;
}

.main-container{
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

.selected-content{
  display: flex;
  width: 60%;
}
.project-card{
  padding-right: 2rem;
}

.side-bar{
  display: flex;
  flex-direction: column;
  /* background-color: inherit; */
}

